*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
    --orange-color: #fa8e3f;
    --grey: #b8b7bc;
    --light-grey-color: #f3f5f1;
    --dark-blue: #020125;
    --caribb-green-color: #02bfae;
    --background: #1F2336;
    --box-background: #313852;
    --secondary: #F1F1F1;
    --primary: #F4BD50;
}

body{
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    background-color: var(--light-grey-color);
}

h1, h2, h3, h4{
    color: var(--dark-blue)
}

button{
    cursor: pointer;
}

.addr-book{
    padding: 1.4rem;
    margin: 0 auto;
    max-width: clamp(320px, 70vw, 740px);
    min-width: 700px;
}

.addr-book-content{
    background-color: #fff;
    padding: 1.6rem;
    border-radius: 4px;
}
.addr-book-head{
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.addr-book-head h2{
    font-size: 2.2rem;
}

.addr-book-head i{
    color: var(--orange-color);
    margin-right: 1rem;
}

.addr-book-top{
    padding: 1rem 0;
}

.addr-book-top .btn{
    color: #fff;
    padding: 0.8rem;
    border-radius: 3px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    background-color: var(--orange-color);
    -webkit-box-shadow: 0 2px 0 0 #bd5305;
            box-shadow: 0 2px 0 0 #bd5305;
}

.addr-book-top .btn:hover{
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
    -webkit-box-shadow: 0 1px 0 0 #bd5305;
            box-shadow: 0 1px 0 0 #bd5305;;
}

.addr-table{
    margin-top: 2rem;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.addr-table thead{
    border-bottom: 1px solid #e3e4f1;
}

.addr-table thead tr th{
    padding-bottom: 0.8rem;
}

.addr-table tbody td{
    padding: 1.5rem 0;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

.addr-table tbody td:nth-child(1){
    padding-left: 0.5rem;
    padding-right: 1rem;
}

.addr-table tbody td:nth-child(2){
    font-weight: 800;
}

.addr-table tbody td:nth-child(3) span{
    background-color: var(--light-grey-color);
    display: inline-block;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
}
.addr-table tbody tr{
    cursor: pointer;
}
.addr-table tbody tr:hover{
    background-color: var(--orange-color);
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.addr-table tbody tr:hover td, .addr-table tbody tr:hover span{
    color: #fff;
}
.addr-table tbody tr:hover td:nth-child(3) span{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
}

